{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-transform-runtime","@babel/plugin-proposal-class-properties",["component", 
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]],
      "ignore":["./src/lib/mui/js/mui.min.js"]//webpack打包严格模式下报错，忽略打包此文件
}